{% extends 'main/base.html' %}
{% load static %}




{% block content %}


<section class="main_heading my-5">
  <div class="container">
  <div class="text-left ">
      <h1 class="display-6"> About us </h1>
      <hr class="w-100 mx-auto" />
  </div>
</div>
  <section id="main">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-8">
        <h2>Welcome to XYZ Tours and Travels</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.
        </p>
      </div>

        <div class=" col-sm-4" style="background-color:lavender;">
          <aside id="sidebar">
          <h3>Company Info</h3>
          <ul class ="list">
            <li><a class="link-primary" href="#">Our team</a></li>
            <li><a class="link-primary" href="#">Terms and Conditions</a></li>
            <li><a class="link-primary" href="#">FAQS</a></li>
          </ul>
          </aside>
        </div>
      </div>    
    </div>
  </div>

  <section>
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-8">
        <h2>About Our Tour Packages</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero laborum velit obcaecati recusandae mollitia earum commodi 
          non modi porro vel, totam, alias harum? Assumenda velit dolore
          fuga praesentium obcaecati magnam.
        </p>
      </div>

      <div class=" col-sm-4" style="background-color:lavender;">
        <div class="text-center">
        <aside id="sidebar1">
        <h3 >Ask a Question </h3>
        
        <li>014456232</li>
        <li>012347659</li>
        <p>Direct Call on Viber or Whatsapp</p>
        </aside>
      </div>
    </div> 
    </section>
      
</section>
</section>


  {% endblock%}